<div class="container">
  <h2>Create message</h2>
  <form [formGroup]="formMessages" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title messages</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        class="form-control"
        placeholder="Talk about me"
        (keyup)="onKeyUpTitle($event)"
      />
    </div>
    <div class="form-group">
      <label for="text">Messages</label>
      <textarea
        id="text"
        formControlName="text"
        class="form-control"
        placeholder="Create message to share with your friends. Max. 700 chars"
        rows="10"
        maxlength="700"
        (keyup)="onKeyUpmessage($event)"
      >
      </textarea>
      <span class="error d-none">
        Avoid writing with signs such as /-+*!@#$%&*()_"
      </span>
    </div>
    <button type="submit" class="btn btn-primary">Share</button>
  </form>

  <app-message-card
    [title]="title"
    [message]="message"
    [username]="username"
  ></app-message-card>
</div>
