h4 {
  margin: 0;
  font-size: 18px;
}
.message {
  background-color: #ccc;
  color: #16202a;
  border-radius: 10px;
  padding: 15px;
}

.message div {
  display: flex;
  justify-content: space-between;
}

.message span:nth-child(1) {
  font-size: 12px;
  color: #747474;
}
.message span:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}

p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 16px;
}
