<div class="circle"></div>
<div class="circle circle-below"></div>
<div class="container">
  <header>
    <img src="../../../assets/img/Group 2.png" alt="Logo image" />
  </header>

  <section class="wrapper">
    <div>
      <div class="titles">
        <h3>Create a message to share with your friends.</h3>
        <p>Create your first message following the first steps:</p>
      </div>
      <div class="info-card-container f-direction-column">
        <div class="info-card">
          <img
            src="../../../assets/img/Fashion blogging-pana 2.png"
            alt="blogging image"
          />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            corporis numquam laboriosam eius.
          </p>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/img/Connected world-pana 2.png"
            alt="blogging image"
          />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            corporis numquam laboriosam eius.
          </p>
        </div>
      </div>
      <div class="buttons d-none">
        <a routerLink="register">Sign Up</a>
        <a routerLink="register">Log In</a>
      </div>
    </div>
    <div class="d-none">
      <img
        class="w-200px"
        src="../../../assets/mobile/Samsung Galaxy S20 5G-3.png"
        alt="mobile app"
      />
    </div>
  </section>

  <section class="wrapper f-reverse">
    <div>
      <div class="titles f-justify-end">
        <h3>Create a message to share with your friends.</h3>
        <p>Create your first message following the first steps:</p>
      </div>
      <div
        class="info-card-container f-direction-column f-reverse f-justify-end"
      >
        <div class="info-card">
          <img
            src="../../../assets/img/Fashion blogging-pana 2.png"
            alt="blogging image"
          />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            corporis numquam laboriosam eius.
          </p>
        </div>
        <div class="info-card">
          <img
            src="../../../assets/img/Connected world-pana 2.png"
            alt="blogging image"
          />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
            corporis numquam laboriosam eius.
          </p>
        </div>
      </div>
      <div class="buttons f-justify-end d-none">
        <a routerLink="register">Sign Up</a>
        <a routerLink="register">Log In</a>
      </div>
    </div>
    <div class="d-none">
      <img
        class="w-200px"
        src="../../../assets/mobile/Samsung Galaxy S20 5G-3.png"
        alt="mobile app"
      />
    </div>
  </section>

  <section class="info-card qr-code">
    <img src="../../../assets/icon/pngwing 1.png" alt="qr code image" />
    <div>
      <p>Scan to download<br />IOS & Android</p>
    </div>
  </section>
  <section class="logos">
    <img
      src="../../../assets/icon/ri_app-store-fill.png"
      alt="app store logo"
    />
    <img src="../../../assets/icon/Frame 18.png" alt="android logo" />
    <img src="../../../assets/icon/Vector.png" alt="apple logo" />
    <img
      src="../../../assets/icon/material-symbols_desktop-windows.png"
      alt="desktop icon"
    />
  </section>
  <div class="buttons d-flex f-justify-center">
    <a routerLink="register">Sign Up</a>
    <a routerLink="register">Log In</a>
  </div>
</div>
