<div class="container">
  <h2>My messages</h2>
  <div class="form-group">
    <label for="date">Date select</label>
    <input type="date" id="date" class="form-control" />
  </div>

  <div *ngFor="let message of messages" class="mb-20">
    <app-message-card
      [message]="message.text"
      [title]="message.title"
      [date]="message.updatedAt"
      [username]="username"
    ></app-message-card>
    <div *ngIf="message.comments" class="mt-10">
      <div *ngFor="let comment of message.comments" class="mt-10">
        <app-comments
          [disabled]="true"
          [messageId]="message.id"
          [comment]="comment"
        ></app-comments>
      </div>
    </div>
  </div>
</div>
