button {
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  color: #16202a;
  font: inherit;
  font-weight: bold;
  padding: 10px 40px;
  width: max-content;
  align-self: flex-end;
}

.container {
  margin-bottom: 40px;
}

h2 {
  color: #f9fd6d;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

input {
  background-color: #16202a;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 16px;
  padding: 10px;
}

label {
  color: #f9fd6d;
  margin-bottom: 5px;
  font-size: 14px;
}
.mb-20 {
  margin-bottom: 20px;
}

textarea:invalid {
  border: 1px solid red;
}
